.one{
    background-image: url(Images/2.png);
    background-repeat: no-repeat;
    padding-bottom: 175px;
    padding-right: 150px;
    border-radius: 20px;
    margin-left: 20px;
}

.ooo{
    padding-top: 100px;
    padding-left: 20px ;
}

.two{
    background-image: url(Images/3.png);
    background-repeat: no-repeat;
    padding-bottom: 175px;
    padding-right: 50px;
    border-radius: 20px;
    margin-left: 20px;
}


.three{
    background-image: url(Images/4.png);
    background-repeat: no-repeat;
    padding-bottom: 175px;
    padding-right: 50px;
    border-radius: 20px;
    margin-left: 20px;
}

